.main-banner
  .main-banner-film

.container
  .content
    %h3 Teams

    - if policy(Team).create?
      = link_to "New Team", new_team_path

    .dark
      %table
        %tr
          %th Team Name
          %th Rosters
          -# %th Tournaments
        - @teams.each do |team|
          %tr
            %td= link_to team.name, team_path(team)
            %td= team.rosters.count
            -# %td= team.tournaments.count
              
      = pluralize(@teams.count, "team")

  