.container-fluid
  .well.well-sm
    %a= link_to "All Teams", teams_path

  %h1 Team Details
  %p= @team.name

  %h3 Roster
  %p 
    - @team.users.each do |member|
      = @team.tag
      = link_to member.name, user_path(member)