.main-banner
  .main-banner-film

.container
  .content
    .center.half
      %h1 Editing Tournament

      .dark
      
        = render 'form'
        = link_to 'Show', @tournament
        |
        \#{link_to 'Back', tournaments_path}