.main-banner
  .main-banner-film
    %h1 Welcome to the League
    %p Compete against other teams for bragging rights.
    %button.main-cta Start Here

%section.secondary-cta
  .container
    .secondary-cta-left
      %button.secondary-cta-button World of Warcraft

    .secondary-cta-right
      %button.secondary-cta-button Starcraft 2

    .clear