.jumbotron.dot-bg.content
  .container
    %h2.primary-two-text Welcome to the league.
    %p.pull-left This is a very vague demo message that demonstrates some jumbotron text. This content will eventually be replaced, but for now it serves it's purpose by being some dummy filler text. Sally sells sea shells by the sea shore. Sure.
    %p.pull-right
      %a.btn.primary-one-bg{:role => "button", :href => teams_path} View Teams
    .clearfix
    
    

.container.content

  .panel.panel-default{ style: "margin-top:15px;" }
    .panel-heading
      %h3.panel-title
        News Title
    .panel-body
      %p
        Bacon ipsum dolor amet beef ribs meatball venison strip steak. Capicola pancetta shoulder bresaola, kevin prosciutto turducken turkey meatball sirloin jerky t-bone ham. Tongue flank strip steak ham. T-bone pork loin porchetta beef ribs, meatball sausage short loin pork belly.
      %p
        Porchetta andouille brisket jerky, cupim t-bone tri-tip corned beef doner chuck tongue short ribs ribeye landjaeger. Ham hock kielbasa shoulder, ball tip salami tenderloin frankfurter sirloin beef shank pancetta ribeye filet mignon short loin. Bresaola boudin prosciutto sirloin chicken. Drumstick boudin doner pork belly pork chop, ground round sausage salami turducken pork loin alcatra ham hock flank spare ribs. Kevin leberkas tongue shoulder flank prosciutto porchetta drumstick shank.
      
      %p
        Ribeye ham pork t-bone bacon brisket ball tip tongue bresaola jerky meatball pork belly biltong beef. Sirloin salami pork pig, kevin leberkas kielbasa bresaola pork belly venison. Ball tip tail drumstick ribeye ham brisket rump pancetta shank jerky prosciutto beef salami t-bone. T-bone kielbasa tail, chicken leberkas corned beef turducken shank rump prosciutto kevin hamburger pork belly.
      
      %p
        Jowl fatback jerky pork loin. Filet mignon landjaeger meatball, t-bone ball tip shoulder pork loin beef alcatra cow. Andouille pork belly picanha sausage meatball corned beef pastrami. Ribeye drumstick bresaola pancetta beef ribs turducken, doner pork chop ham hock jerky spare ribs swine jowl meatball pastrami. Corned beef porchetta jerky, pig spare ribs swine meatloaf short loin. Fatback pancetta filet mignon, pig kielbasa ribeye cow pork venison andouille flank. Hamburger short ribs kevin, ham hock jowl sirloin tenderloin beef ribs shoulder.
      
      %p
        Meatball turkey pastrami ground round salami beef. Pig bacon kevin, brisket venison picanha meatball salami. Filet mignon brisket jerky kielbasa. Tenderloin meatloaf kielbasa capicola, spare ribs brisket landjaeger strip steak swine salami. Bresaola ribeye beef ribs brisket filet mignon strip steak. Fatback drumstick capicola brisket. Shank tongue sirloin biltong, tail chuck chicken.
    .panel-footer
      Footer
      
  .panel.panel-default{ style: "margin-top:15px;" }
    .panel-heading
      %h3.panel-title
        News Title
    .panel-body
      %p
        Bacon ipsum dolor amet beef ribs meatball venison strip steak. Capicola pancetta shoulder bresaola, kevin prosciutto turducken turkey meatball sirloin jerky t-bone ham. Tongue flank strip steak ham. T-bone pork loin porchetta beef ribs, meatball sausage short loin pork belly.
      %p
        Porchetta andouille brisket jerky, cupim t-bone tri-tip corned beef doner chuck tongue short ribs ribeye landjaeger. Ham hock kielbasa shoulder, ball tip salami tenderloin frankfurter sirloin beef shank pancetta ribeye filet mignon short loin. Bresaola boudin prosciutto sirloin chicken. Drumstick boudin doner pork belly pork chop, ground round sausage salami turducken pork loin alcatra ham hock flank spare ribs. Kevin leberkas tongue shoulder flank prosciutto porchetta drumstick shank.
      
      %p
        Ribeye ham pork t-bone bacon brisket ball tip tongue bresaola jerky meatball pork belly biltong beef. Sirloin salami pork pig, kevin leberkas kielbasa bresaola pork belly venison. Ball tip tail drumstick ribeye ham brisket rump pancetta shank jerky prosciutto beef salami t-bone. T-bone kielbasa tail, chicken leberkas corned beef turducken shank rump prosciutto kevin hamburger pork belly.
      
      %p
        Jowl fatback jerky pork loin. Filet mignon landjaeger meatball, t-bone ball tip shoulder pork loin beef alcatra cow. Andouille pork belly picanha sausage meatball corned beef pastrami. Ribeye drumstick bresaola pancetta beef ribs turducken, doner pork chop ham hock jerky spare ribs swine jowl meatball pastrami. Corned beef porchetta jerky, pig spare ribs swine meatloaf short loin. Fatback pancetta filet mignon, pig kielbasa ribeye cow pork venison andouille flank. Hamburger short ribs kevin, ham hock jowl sirloin tenderloin beef ribs shoulder.
      
      %p
        Meatball turkey pastrami ground round salami beef. Pig bacon kevin, brisket venison picanha meatball salami. Filet mignon brisket jerky kielbasa. Tenderloin meatloaf kielbasa capicola, spare ribs brisket landjaeger strip steak swine salami. Bresaola ribeye beef ribs brisket filet mignon strip steak. Fatback drumstick capicola brisket. Shank tongue sirloin biltong, tail chuck chicken.
    .panel-footer
      Footer
