@import "http://fonts.googleapis.com/css?family=Oswald:400,300,700";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500,700,300";
@import "header.scss";
@import "footer.scss";
@import "home.scss";

body {
    background: $primary-dark-blue;
    font-size: 14px;
    color: #fff;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: lighten($primary-dark-blue, 80%);
  }
}

form {

  input, select {
    font-size: 18px;
    background-color: lighten($primary-dark-blue, 80%);
    border: 1px solid lighten($primary-dark-purple, 10%);
    color: #000;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      background-color: lighten($primary-dark-blue, 70%);
    }
  }

  input[type="submit"] {
    width: auto;
    background-color: $primary-dark-purple;
    border: 1px solid lighten($primary-dark-blue, 90%);
    color: #fff;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      font-weight: 400;
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
    }
  }
}

.alt {
  color: #000;
  background-color: #fff;
  border-color: 1px solid $primary-dark-purple;
}

h1 {
  color: lighten($primary-dark-blue, 80%);
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  margin: 20px 0 20px 0;
}

h2 {
  color: lighten($primary-dark-blue, 80%);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 20px 0 20px 0;
}

h3 {
  color: lighten($primary-dark-blue, 80%);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0 20px 0;
}

h4 {
  color: lighten($primary-dark-blue, 80%);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0 20px 0;
}

.heading {
 margin: 20px 0 20px 0; 
}

.btn {
  padding: 3px 5px;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  cursor: default;
}

.btn-default {
  background-color: #ccc;
  border: 1px solid black;
  color: black;
}

.btn-primary {
  background-color: darken($primary-dark-purple, 10%);
  border: 1px solid lighten($primary-dark-purple, 60%);
  color: lighten($primary-dark-purple, 60%);
}

.btn-alternate {
  background-color: darken($primary-dark-blue, 10%);
  border: 1px solid lighten($primary-dark-blue, 60%);
  color: lighten($primary-dark-blue, 60%); 
}

table {
  width: 100%;
  font-size: 14px;
  border: 1px solid lighten($primary-dark-purple, 60%);

  caption {
    text-align: left;
    font-size: 16px;
    font-family: $primary-font;
    margin-bottom: 10px;
  }

  thead, th, {
    vertical-align: middle;
    border-color: inherit;
    text-align: left;
    background-color: $primary-dark-purple;
    padding: 8px;
  }

  td {
   vertical-align: middle;
    border-color: inherit;
    text-align: left;
    padding: 8px; 
  }

  tr {
    height: 30px;
  }

  tr:nth-child(even) {
    background-color: darken($primary-dark-purple, 7%);
  }

  tr:nth-child(odd) {
    background-color: darken($primary-dark-blue, 50%);
  }
}

.container {
    max-width: $content-max-width;
    width: 90%;
    margin: 0 auto;

    .content {
      margin-top: -400px;
      min-height: 400px;
      // padding: 20px;
      border-radius: 4px;

      .dark {
        background: rgba(0, 0, 0, .6);
        padding: 15px;
      }
    }

    p {
      line-height: 25px;
    }
}

.half {
  width: 50%;
}

.three-quarters {
  width: 75%;
}

.center {
  margin: 0 auto;
}

.right {
  float:right;
}

.left {
  float:left;
}

.tile {
  width: 49%;
}

.clear {
  clear: both;
}

.main-alert-spot {
  top: 83px;
  width: 100%;
  position: fixed;
  z-index: 0;
  border-bottom: 3px solid darken($primary-dark-purple, 10%);
}

.alert {
  width: 100%;
  background-color: $primary-dark-purple;
  padding: 10px;
}
