$primary-one: #003366;
$primary-two: #800000;

$secondary-two: #800000;

$neutral-one: #202020;
$neutral-two: #B6B6B6;
$neutral-three: #F0F0F0;

.primary-one-bg {
  background-color: $primary-one;
}

.primary-one-text {
  color: $primary-one;
}

.primary-two-bg {
  background-color: $primary-two;
}

.primary-two-text {
  color: $primary-two;
}

.neutral-one-text {
  color: $neutral-one;
}

.neutral-one-bg {
  background-color: $neutral-one;
}

.neutral-two-text {
  color: $neutral-two;
}

.neutral-two-bg {
  background-color: $neutral-two;
}

.neutral-three-text {
  color: $neutral-three;
}

.neutral-three-bg {
  background-color: $neutral-three;
}

table.table {
  margin-bottom:0;
}

.content .panel {
  margin: 20px 0;
}

.jumbotron {
  // background-color: $secondary-color;
  // color: $quaternary-color;
}

// /**/

.dot-bg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpiYWBgmAnEDExAnAZiAAQYAArIAQY6xmzeAAAAAElFTkSuQmCC');
}

.background .dot {
  position: absolute;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpiYWBgmAnEDExAnAZiAAQYAArIAQY6xmzeAAAAAElFTkSuQmCC');
  width: 100%;
  height: 100%;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}
.background video {
  min-width: 100%;
  min-height: 100%;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.content-two {
  background-color: $primary-one;
  border-radius: 4px;
}

// /* Bootstrap overrides */

.navbar-default {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0 10px;
  border-color: transparent;
}

.navbar {
  // background-image: -webkit-linear-gradient($primary-one, $primary-one 60%, $primary-one);
  // background-image: -o-linear-gradient($primary-one, $primary-one 60%, $primary-one);
  // background-image: -webkit-gradient(linear, left top, left bottom, from($primary-one), color-stop(60%, $primary-one), to($primary-one));
  // background-image: linear-gradient($primary-one, $primary-one 60%, $primary-one);
  // background-repeat: no-repeat;

  background-image: linear-gradient($primary-two, $secondary-two 60%, $primary-two);
  background-repeat: no-repeat;
}


/* These currently are not enforced */
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: rgba(20, 20, 20, 0.7);
}
.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: rgba(30, 30, 30, 0.7);
}
table {
  background-color: transparent;
}

.alert {
  border-radius: 0px;
}

// .alert-info {
//   background-color: $info-color;
//   border-color: $primary-one;
// }

.panel-default {

  background-color: $neutral-one;

  .panel-heading {
    background-color: $primary-one;
  }

  .panel-footer {
    //background-color: $primary-one;
  }

}
