$primary-color: #df691a;
$secondary-color: #1c1e22;

.primary-bg {
  background-color: $primary-color;
}

.primary-text {
  color: $primary-color;
}

.secondary-bg {
  background-color: $secondary-color;
}

.secondary-text {
  color: $secondary-color;
}

table.table {
  margin-bottom:0;
}